In [2]:
import pandas as pd
import numpy as np

Create a dataframe from the file using read_csv, setting the headers to none so that pandas wont use the first row as a heder

In [3]:
df = pd.read_csv('input.txt', header=None)
df

          0
0       198
1       208
2       209
3       212
4       213
...     ...
1995  10886
1996  10902
1997  10903
1998  10931
1999  10930

[2000 rows x 1 columns]

Setting the column name for the depth data to 'depth'

In [4]:
df.columns = ['depth']
df

      depth
0       198
1       208
2       209
3       212
4       213
...     ...
1995  10886
1996  10902
1997  10903
1998  10931
1999  10930

[2000 rows x 1 columns]

//TODO
- Make a numpy arr from depth
- Loop through each item
- add up pos 1,2,3
- add up pos 2,3,4
- add up pos 3,4,5
- add up pos 4,5,6 - probably dont need this part

```
check to see if there are 4 values left in arr
    loop 
        add up the first three(i, i + 1, i + 2),
        store sum of first 3 in var
        add up the second 3 ( i + 1, i + 2, i + 3)
        store second 3 in var
        check if
            increase
            decrease
            or equal
```

Sudo code

```
for i in r
    if i < length of r - 4
        add first three values
        add second three values
        if(greater)
            increment inc
        else if(less than)
            increment dec
        else
            increment eql

print results
```

Create a numpy array from the 'depth' column of the dataframe

In [5]:
df_arr = df[['depth']].to_numpy()
df_arr

array([[  198],
       [  208],
       [  209],
       ...,
       [10903],
       [10931],
       [10930]], dtype=int64)

Loop through the array and compare the first three depths witht the three depths that are 1 position to the right respectively

In [6]:
increase = 0
decrease = 0
equal = 0

for i in range(len(df_arr) - 3):
    sum1 = df_arr[i] + df_arr[i+1] + df_arr[i+2]
    sum2 = df_arr[i + 1] + df_arr[i+2] + df_arr[i+3]
    if(sum2 > sum1):
        increase += 1
    elif(sum2 < sum1):
        decrease += 1
    else:
        equal += 1

Print out the results

In [7]:
print('increase = ' + str(increase))
print('decrease = ' + str(decrease))
print('equal = ' + str(equal))

increase = 1822
decrease = 159
equal = 16