In [56]:
import pandas as pd
import numpy as np

Read the text file in using read_csv. Set the headers to None so that pandas doesn't automatically
use the first row as a header.

In [64]:
df = pd.read_csv('input.txt', header=None)
df

          0
0       198
1       208
2       209
3       212
4       213
...     ...
1995  10886
1996  10902
1997  10903
1998  10931
1999  10930

[2000 rows x 1 columns]

Change the column name of each depth to 'depth'

In [65]:
df.columns = ["depth"]
df

      depth
0       198
1       208
2       209
3       212
4       213
...     ...
1995  10886
1996  10902
1997  10903
1998  10931
1999  10930

[2000 rows x 1 columns]

change the depth colum to an numpy array

In [66]:
df_arr = df[['depth']].to_numpy()
df_arr

array([[  198],
       [  208],
       [  209],
       ...,
       [10903],
       [10931],
       [10930]], dtype=int64)

Loop through each value in the array and change count the number of times the successive number is greater, less than or equal to the current value.

Probably should have included checks for missing values but the data was reliable.

In [62]:
increased = 0;
decreased = 0;
equal = 0;
for i in range(len(df_arr) - 1):
    if(df_arr[i + 1] > df_arr[i]):
        increased += 1
    elif(df_arr[i + 1] < df_arr[i]):
        decreased += 1
    else:
        equal += 1;

Print out the results

In [67]:
print('increased = ' + str(increased))
print('decreased = ' + str(decreased))
print('equal = ' + str(equal))

increased = 1791
decreased = 208
equal = 0