In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('input.txt', names=['number'], dtype=str)
df

           number
0    101010011010
1    101111111001
2    100100100000
3    000001010010
4    100100110011
..            ...
995  001101100100
996  001000010010
997  010000000011
998  000110000010
999  000001101000

[1000 rows x 1 columns]

```
while list > 1    
    Search through each 12 bit number
        check the first bit
            if it is equal to the equivilent bit creteria bit
                add to a new list
    check list size
        if list == 1
            return that 12 bit number
```

- loop through each number
- find out if the first digit has more 1s or zeroes
- if its ones then loop through again and add all the 1s of that bit to an array
- now start with the new array
- go back to point 2

In [78]:
num_l = df['number'].to_list()

In [79]:
#returns True if ones are >= to zeros, False otherwise 
def more_ones(l, pos):
    ones = 0
    zeroes = 0
    for b in num_l:
        if(b[pos] == '1'):
            ones += 1
        else:
            zeroes += 1
    if(ones >= zeroes):
        return True
    else:
        return False

In [80]:
def all_ones_or_zeroes(ch, pos, li):
    l = []
    for n in li:
        if(n[pos] == ch):
            l.append(n)
    return l

In [125]:
def bin_to_dec_converter(bin_string):
    dec = 0
    for c in range(len(bin_string)):
        #gets the number from 2 ** 11 to 2 ** 0, had to add the extra '-1' to account for 0 index
        if(bin_string[c] == '1'):
            dec += (2 ** ((len(bin_string) - 1) - c))
    return dec

In [126]:
def oxygen_generator(num_1):
    li = num_l
    for i in range(len(num_l[0])):
        if(len(li) <= 1):
            break
        if(more_ones(li, i)):
            li = all_ones_or_zeroes('1', i, li)
        else:
            li = all_ones_or_zeroes('0', i, li)

    if(len(li) > 0):
        print(li[0])
        print('length of l = ' + str(len(li)))
        return bin_to_dec_converter(li[0])
    else:
        print('error, length of l = ' + str(len(li)))

In [127]:
def CO2_scrubber(num_1):
    li = num_l
    for i in range(len(num_l[0])):
        if(len(li) <= 1):
            break
        if(not more_ones(li, i)):
            li = all_ones_or_zeroes('1', i, li)
        else:
            li = all_ones_or_zeroes('0', i, li)

    if(len(li) > 0):
        print(li[0])
        print('length of l = ' + str(len(li)))
        return bin_to_dec_converter(li[0])
    else:
        print('error, length of l = ' + str(len(li)))

In [128]:
result = oxygen_generator(num_l) * CO2_scrubber(num_l)
result

110100010111
length of l = 1
001011101011
length of l = 1

2503197

In [129]:

bin_to_dec_converter('001011101011')

747

In [122]:
bin_to_dec_converter('110100010111')

6702

In [123]:
bin_to_dec_converter('0111')

14

In [124]:
3351 * 747

2503197