Problem:

- Moving in 2d plane
- aim increased/decreased by values of 'down' and 'up' (down is a positive increase) (up is negative)
- Horizontal and vertical movement on the x and y (x by value) (y by value * aim)
- x_pos += x
- y pos += x * aim
- multiply x_pos(horixonal pos) by y_pos(depth)
- this time depth is already positive so no need to flip sign
- Print result

Sudo Code

```
read in file(csv delimited by space)
    set aim
    set x_pos
    set y_pos
    loop through df rows
        if fwd
            add value to x_pos(x)
            add vlaue to y_pos(x * aim(
        elif dwn
            add value to aim
        elif up
            subtract value from aim

    multiply x_pos and y_pos

    print results 
```

In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('input.txt', sep=' ', names=['direction', 'value'])
df

    direction  value
0     forward      1
1        down      6
2        down      6
3     forward      2
4     forward      2
..        ...    ...
995        up      8
996   forward      8
997   forward      7
998      down      9
999   forward      3

[1000 rows x 2 columns]

In [21]:
dir_arr = df['direction'].to_numpy()
val_arr = df['value'].to_numpy()

In [22]:
aim = 0
x_pos = 0
y_pos = 0

In [23]:
for i in range(len(dir_arr)):
    direction = dir_arr[i]
    val = val_arr[i]
    if(direction == 'forward'):
        x_pos += val
        y_pos += val * aim
    elif(direction == 'down'):
        aim += val
    elif(direction == 'up'):
        aim -= val

In [24]:
print('aim = ' + str(aim))
print('x_pos = ' + str(x_pos))
print('y_pos = ' + str(y_pos))

aim = 1222
x_pos = 1790
y_pos = 1165563

In [25]:
result = x_pos * y_pos

In [26]:
result

2086357770